<button
  mat-raised-button
  [class.full-width]="variant === 'full-width'"
  [class.nav-button]="variant === 'nav'"
  *ngIf="type === 'primary'"
  [disabled]="disabled"
  [routerLink]="routerLink"
>
  {{ label }}
</button>

<button
  mat-stroked-button
  [class.full-width]="variant === 'full-width'"
  [class.nav-button]="variant === 'nav'"
  *ngIf="type === 'secondary'"
  [disabled]="disabled"
  [routerLink]="routerLink"
>
  {{ label }}
</button>

<button
  mat-button
  [class.full-width]="variant === 'full-width'"
  [class.nav-button]="variant === 'nav'"
  *ngIf="type === 'text'"
  [disabled]="disabled"
  [routerLink]="routerLink"
>
  {{ label }}
</button>
