<header class="app-header">
  <div class="header-logo" routerLink="/overview" aria-label="Pulse overview">
    <app-logo />
  </div>

  @if (tokenStorage.isAuthenticated()) {
    <app-button label="Log out" type="primary" variant="nav" (click)="onLogout()" />
  } @else {
    @if (currentUrl() === '/register') {
      <app-button label="Log in" routerLink="/login" type="primary" variant="nav" />
    } @else {
      <app-button label="Register" routerLink="/register" type="primary" variant="nav" />
    }
  }
</header>
