<header class="app-header">
  <a aria-label="Pulse overview" class="header-logo" routerLink="/overview">
    <app-logo />
  </a>

  @if (tokenStorage.isAuthenticated()) {
    <div class="header-user-actions">
      <button class="user-menu-button" type="button" [matMenuTriggerFor]="userMenu">
        <div class="user-avatar">
          {{ userDisplayInitials() }}
        </div>

        <span class="user-name">
          {{ userDisplayName() }}
        </span>

        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item type="button" (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
    </div>
  }
</header>
