<mat-toolbar class="mat-elevation-z0" color="primary">
  <div class="header-logo">
    <app-logo />
  </div>

  <span style="flex: 1"></span>

  @if (tokenStorage.isAuthenticated()) {
    <app-button label="Log out" type="primary" variant="nav" (click)="onLogout()" />
  } @else {
    @if (currentUrl() === '/register') {
      <app-button label="Log in" routerLink="/login" type="primary" variant="nav" />
    } @else {
      <app-button label="Register" routerLink="/register" type="primary" variant="nav" />
    }
  }
</mat-toolbar>
