<div class="page-wrapper">
  <div class="logo-container-new-organization">
    <app-logo />
  </div>

  <div class="new-organization-container">
    <mat-card class="new-organization-card">
      <mat-card-header>
        <div class="custom-home-badge">
          <svg fill="none" height="24" viewBox="0 0 76 76" width="24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M38,5 L73,35 L73,65 Q73,71 67,71 L9,71 Q3,71 3,65 L3,35 Z"
              fill="none"
              stroke="#5B52E0"
              stroke-linejoin="round"
              stroke-width="5" />
            <rect fill="none" height="26" rx="4" stroke="#5B52E0" stroke-width="5" width="24" x="26" y="45" />
          </svg>
        </div>

        <div class="new-organization-title-group">
          <mat-card-title i18n="@@newOrganization.title">Create your organization</mat-card-title>
          <p class="new-organization-subtitle" i18n="@@newOrganization.subtitle">
            You`re not part of any organization yet. Create one to get started.
          </p>
        </div>
      </mat-card-header>

      <mat-card-content>
        <form class="new-organization-form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <mat-label i18n="@@newOrganization.organizationName">Organization name</mat-label>
            <mat-form-field appearance="outline" class="full-width">
              <input
                formControlName="organizationName"
                matInput
                placeholder="Acme Corp"
                i18n-placeholder="@@newOrganization.namePlaceholder"
                type="text" />
              @if (form.get('organizationName')?.hasError('required')) {
                <mat-error i18n="@@newOrganization.nameRequired">Organization name is required</mat-error>
              }
            </mat-form-field>
            <p class="new-organization-subtitle" i18n="@@newOrganization.renameInfo">
              You can rename it later in Settings
            </p>
          </div>
          <app-button
            buttonType="submit"
            label="Create organization"
            i18n-label="@@newOrganization.submitButton"
            type="primary"
            variant="full-width"
            [disabled]="form.invalid" />
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
